.container {
    width: 100%;
    height: 95vh;
    background-color: #F3F3F0;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.image-wrapper img {
    width:130px;
    height:80px;
    margin-left: 50px;
    margin-top: 15%;
    margin-bottm: 25%;
}


.image-wrapper .impero {
    width: 90px;
    height:60px;
}

.image-wrapper .vibes-on-vibes{
    width: 100px;
    height: 60px;
}

.image-wrapper .monster {
    height: 60px;
}