extends layout
block content
    main
        .row.justify-content-center
            .col-lg-6.container3.text-white.p-3
                .container.p-5
                    h3.text-center #{ticket.full_name} your ticket sale of NGN #{ticket.amount/100}  was successful ticket ID #{ticket.ticketId}