// ================================= Typography reset ========================================

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.1;
    font-weight: 700;
}

a, a:visited, a:hover {
    text-decoration: none;
}