.card-container {
    width: 40rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 30px 30px;
    overflow: hidden;
}

.right {
    width: 300px;
    float: right;
}

.left {
    width: 300px;
    float: left;
    /* border-style: dashed;
    border-radius: 1em;
    border-color: var(--color);
    height: 300px; */
}

.card-header{
    display: flex;
}

.t-left {
    text-align: right;
    
}