.card-container {
    width: 40rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 30px 30px;
    overflow: hidden;
    display: block;
}

.right {
    width: 300px;
    float: right;
}

.left {
    width: 300px;
    float: left;
    /* border-style: dashed;
    border-radius: 1em;
    border-color: var(--color);
    height: 300px; */
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-left {
    text-align: right;
    
}

@media only screen and (max-width: 740px) {
    .card-container {
        /* visibility: hidden; */
        margin: 20px;
        width: 90%;
    }
    .card-container .grid-container {
        flex-direction: column;
    }
}


@media only screen and (max-width: 480px) {
    .card-container {
        width: 100%;
        margin: 0px;
    }
    .footer-container {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .footer-container > a {
        flex-basis: calc(50% - 50px);
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}