.form_input {
    border-color: black;
    border-radius: 10px;
    background-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    padding: 0.5em;
    font-size: 1em;
    font-style: normal;
    /* color: var(--color); */
    width: 100%;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1em;
    font-family: inherit;
}
input::placeholder {
    color: black;
}

.grid-container {
    display: flex;
    gap: 15px
}

.rw-rev {
    flex-direction: row-reverse;
}

.col-f-1 {
    flex: 1;
}

.col-f-1-2 {
    flex: 1.2;
}

.col-f-2 {
    flex: 2;
}

.submit {
    font-family: inherit;
    background-color: #ebd8a0;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}

.submit:hover {
    transform: scale(1.01);
}

.upload-container {
    border-radius: 2rem;
    border-style: dashed;
    width: 100%;
    height: 29rem;
}

.drop {
    padding: 2rem;
    color: #fff;
}

.dropzone {
    cursor: pointer;
}

@-webkit-keyframes swap {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes swap {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.swap:after,
.swap:before {
    border-radius: 100%;
    content: '';
    height: 50px;
    opacity: .5;
    position: absolute;
    width: 50px;
}

.swap:after {
    -webkit-animation: swap 1.5s -0.75s infinite;
    animation: swap 1.5s -0.75s infinite;
    background-color: var(--primary);
}

.swap:before {
    -webkit-animation: swap 1.5s infinite;
    animation: swap 1.5s infinite;
    background-color: var(--secondary);
}

::-webkit-file-upload-button {
    font-family: inherit;
        background-color: #ebd8a0;
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;

}