.input-group{
    position: relative;
}
.input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid rgb(8, 8, 8);
}
.input-label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px,10px);
    transition: transform 0.25s ease-in-out;
}
.input:focus + .input-label,
.input:valid + .input-label{
    transform: translate(0,-30px) scale(.8);
    color: #00bcd4;
}
.input:is(:focus, :valid){
    outline-color: #00bcd4;
}

.form-group{
    top: auto;
}